body {
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1631027761930-bc3bcfd2be74?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.container  {
  text-align: center;
  padding: 20px;
  height: 60vh;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10rem;
}

.container__  {
  text-align: center;
  padding: 20px;
  height: 100vh;
 }


.page-title {
  color: #6F58C9;
  margin: 0 0 5px;
  font-size: 30pt;
}

.page-subtitle {
  font-size: 20pt;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: #6F58C9;
  font-size: 20pt;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  background: #16DB93;
  color: #ffffff;
  border-radius: 1rem;
  
}



h2 {
  color: #443627;
  font-size: 30px;
}

h3 {
  color: black;
  font-size: 30px;
  position: relative;
  bottom: 200px;
  right: 150px;
}